
upstream {

    {% for i in upstream %}
    {{ upstream[i].server }}
    {% endfor %}
}

server {

{% for i ansible_facts["all_ipv4_addresses"] %}
listen {{ i }}:80;
{% endfor %}

{% for i ansible_facts["all_ipv6_addresses"] %}
listen {{ i }}:80;
{% endfor %}

server_name {{ item }};
root /var/www/{{ item }};

index index.html;
try_files $uri /index.html;

}